packages:
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
  yum:
    newrelic-sysmond: []
commands:
  01_install_newrelic:
    command: "newrelic-install install"
    #leader_only: true  sadece tek makinada çalışır
    ignoreErrors: true
  02_license_newrelic:
    command: "sed -i 's/REPLACE_WITH_REAL_KEY/bfaef5be03a3ea6d50d6faf5205f8e42aaee8463/g' /etc/php.d/newrelic.ini"
    #leader_only: true
    ignoreErrors: true
  03_application_name_newrelic:
    command: "sed -i 's/PHP Application/insiderWebApi_prod/g' /etc/php.d/newrelic.ini"
    ignoreErrors: true
  04_newrelic_config_copy:
    command: "cp /etc/newrelic/newrelic.cfg.template /etc/newrelic/newrelic.cfg"
  05_service_restart_1:
    command: "/sbin/service newrelic-daemon restart"
